[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-ads1x15 = "*"
adafruit-blinka = "*"
influxdb = "*"

[dev-packages]
plotext = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
